body {
  font-family: Arial, Helvetica, sans-serif;
  
}

h1 {
  margin-top: 0;
  text-shadow: 2px 2px 10px green;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.side-cntnt {
  margin-left: 3%;
  width: 20%;
  font-size: 1.3em;
}

.intro {
  margin: 0;
}

#plast {
  color:#FF4E50;
  font-weight: bold;
}

.instruct {
  margin-top: 0;
  line-height: 2;
}

#start, #reset {
  background: #3498db;
  color: white;
  padding: 3% 6%;
  border-radius: 4px;
  font-size: 1.5em;
  outline: none;
  width: 40%;
}

.cntrl {
  background: black;
  color:white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1% 2%;
}

@media(max-width:1265px) {
  .side-cntnt {
    float:none;
    width: inherit;
  }
  #start, #reset {
    width: inherit;
    padding: 1% 4%;
  }
  .cntrl {
    padding: 0 1%;
  }
}